<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= data.name %> Insta Page</title>
    <link rel="stylesheet" href="/home.css" />
  </head>
  <body>
    <main class="container">
      <section class="profile-card">
        <img
          class="profile-pic"
          src="<%= data.profile %>"
          alt="Profile Picture" />
        <div class="username"><%= data.name %></div>
        <div class="profile-stats">
          <div>
            <span class="stat-label">Followers</span
            ><span class="stat-value"><%= data.followers %></span>
          </div>
          <div>
            <span class="stat-label">Following</span
            ><span class="stat-value"><%= data.following %></span>
          </div>
        </div>
      </section>
      <section class="posts-grid">
        <% for(let post of data.posts){ %>
        <div class="post-card">
          <img class="post-img" src="<%= post.image %>" alt="Post" />
          <div class="post-info">
            <span>❤️ <%= post.likes %></span>
            <span>💬 <%= post.comments %></span>
          </div>
        </div>
        <% } %>
      </section>
    </main>
  </body>
</html>
