<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= %>data.name Insta Page</title>
    <link rel="stylesheet" href="/home.css" />
  </head>
  <body>
    <div class="profile">
      <img
        class="profile-pic"
        src="<%= data.profile %>"
        alt="Profile Picture" />
      <div class="username"><%=data.name %></div>

      <p>
        followers :<%= data.followers %> &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
        following:<%= data.following %>
      </p>
    </div>
    <div class="posts">
      <% for(let post of data.posts){ %>
      <img class="post-img" src="<%= post.image %>" alt="Post" />
      <p>
        likes :<%= post.likes %> &nbsp;&nbsp; &nbsp;&nbsp; &nbsp;&nbsp;
        comments:<%= post.comments %>
      </p>

      <% } %>
    </div>
  </body>
</html>
