<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>QUORA POST</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <h1>QUORA POST</h1>
    <hr />
    <div class="add-post">
      <a href="/posts/new"><button>Add post</button></a>
      <!-- <a href="http://localhost:3000/posts/new"><button>Add post</button></a> -->
    </div>
    <div class="your-posts">
      <% for(post of posts){ %>
      <h2 class="post-name"><%= post.name %></h2>
      <h3 class="post-title"><%= post.title %></h3>
      <hr />
      <div class="post-actions">
        <a href="/posts/<%= post.id %>"><button>See post</button></a>
        <a href="/posts/<%= post.id %>/edit"> <button>Edit post</button></a>

        <form action="/posts/<%= post.id %>?_method=DELETE" method="post">
          <button>Delete post</button>
        </form>
      </div>
      <% } %>
    </div>
  </body>
</html>
